@import (reference) './mixins';
@import (reference) './variables';

@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css');

html,
body {
	height: 100%;
}

a {
	transition: background-color ease .2s, color ease .2s;
}

h1 {
	font-size: 2em;
	font-weight: 500;
}

h2 {
	font-size: 1.5em;
	font-weight: 500;
}

.table {
	&.is-hoverable {
		tbody {
			tr {
				.transition(background-color);
				background-color: @colors_light0;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	td {
		vertical-align: middle;
	}
}

.field {
	margin-bottom: 1rem !important;

	&:last-child {
		margin-bottom: 0 !important;
	}
}
