@import (reference) './mixins';
@import (reference) './variables';

@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css');

a {
	transition: background-color ease .2s, color ease .2s;
}

h1 {
	font-size: 2rem;
	font-weight: 500;
}

.table {
	&.is-hoverable {
		tbody {
			tr {
				.transition(background-color);
				background-color: @colors_light0;
	
				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	td {
		vertical-align: middle;
	}
}
