@common_bottomBoxShadow: 0 2px 4px 0 rgba(43, 43, 43, .1);

@colors_light0: #ffffff;
@colors_light1: #e7e7e7;
@colors_dark1: #263544;
@colors_danger0: #ff3860;
@colors_overlay1: rgba(10, 10, 10, .2);

@layout_headerHeight: 50px;
@layout_sidebarWidth: 250px;
